{{#x-nav title='Ember Material Form Components'
  mobileTitle='Ember MFC'
  includeHeaderItems=false
  includeDrawerTitle=false
  fixedHeader=true
  fixedDrawer=true}}
    {{mdl-nav-item name='Textfield'  inHeader=false route='textfield'}}
    {{mdl-nav-item name='Checkbox'   inHeader=false route='checkbox'}}
    {{mdl-nav-item name='Select'     inHeader=false route='select'}}
    {{mdl-nav-item name='Date'       inHeader=false route='date'}}
  <div class="mdl-grid">

    {{outlet}}
  </div>
{{/x-nav}}